{% extends 'layouts/auth.html.twig' %}

{% block content %}
  <form method="post">
    {% if error %}
      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
      <div class="mb-3">Vous êtes connecté ! {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter.</a></div>
    {% endif %}
    <div class="form-group">
      <label for="username" class="form-label">Nom d'utilisateur</label>
      <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
    </div>
    <div class="form-group" class="form-label">
      <label for="password">Mot de passe</label>
      <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">

    <div class="checkbox mb-3">
      <input class="form-check-input" type="checkbox" name="_remember_me" id="_remember_me">
      <label class="form-check-label" for="_remember_me">Se souvenir de moi</label>
    </div>
    
    {# If you want to control the URL the user is redirected to on success #}
    <input type="hidden" name="_target_path" value="{{ url('app_home_index') }}">

    <button class="btn btn-primary" type="submit">Me connecter !</button>
  </form>
{% endblock %}

{% block header %}
  <div class="text-center mt-2">
    <h5 class="text-primary">Hello !</h5>
    <p class="text-muted">Connectez-vous pour poursuivre.</p>
  </div>
{% endblock %}

{% block footer %}
  <div class="mt-4 text-center">
    <p class="mb-0">Je n'ai pas de compte <a href="{{ path('app_registration_index') }}" class="fw-semibold text-primary text-decoration-underline"> M'inscrire </a> </p>
  </div>
{% endblock %}
